@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');


body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #D9D7B6;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

* {
  font-family: inherit;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    background-color: #1f2729;
    width: 80vmin;
    aspect-ratio: 1 / 1;
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
    box-shadow:
    0.5px 0.6px 0.9px hsl(0deg 0% 0% / 0.57),
    3px 3.6px 5.3px -1.2px hsl(0deg 0% 0% / 0.58),
    11.6px 13.9px 20.5px -2.4px hsl(0deg 0% 0% / 0.59);
  
  } 



  
  .cell {
    display: grid;
    text-align: center;
    user-select: none;
    border: 0.01px solid #182325;
    box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 1px;

    font-size: 100%;
    transition: all .5s ease;
  }

  
  


  #board .cell:nth-child(even) {
    background-color: #262d2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }

  #board .cell:nth-child(odd) {
    background-color: #202829;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }


  #board .SnakeNode {
    display: block; 
    position: absolute; 
    background-color: green;
    border-radius: 10%;
    transition: transform 120ms linear;
    aspect-ratio: 1 / 1;

  }

  #board .SnakeHead {
    display: block; 
    position: absolute; 
    background-color: blue;
    border-radius: 10%;
    transition: transform 120ms linear;
    aspect-ratio: 1 / 1;

}



  #board .ManzanaClass{
    display: block; 
    position: absolute; 
    background-color: red;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }