@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');


body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #D9D7B6;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

* {
  font-family: inherit;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    background-color: #1f2729;
    width: 80vmin;
    aspect-ratio: 1 / 1;
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
    box-shadow:
    0.5px 0.6px 0.9px hsl(0deg 0% 0% / 0.57),
    3px 3.6px 5.3px -1.2px hsl(0deg 0% 0% / 0.58),
    11.6px 13.9px 20.5px -2.4px hsl(0deg 0% 0% / 0.59);
  
  } 



  
  .cell {
    display: grid;
    text-align: center;
    user-select: none;
    border: 0.01px solid #182325;
    box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 1px;

    font-size: 100%;
    transition: all .5s ease;
  }

  
  


  #board .cell:nth-child(even) {
    background-color: #262d2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }

  #board .cell:nth-child(odd) {
    background-color: #202829;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }

  #board .Snake {
    aspect-ratio: 1 / 1;

    position: absolute;

  }
  

  #board .SnakeNodeIcon{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-image: url("/snakeGameSprite.png");
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 120ms linear;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 700% 100%;
    background-position: 16.66% 0;;
  }

  #board .SnakHeadIcon{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-image: url("/snakeGameSprite.png");
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 120ms linear;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 700% 100%;
    background-position: 0 0;
  }

  #board .SnakeTailIcon{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-image: url("/snakeGameSprite.png");
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 120ms linear;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 700% 100%;
    background-position: 33.33% 0;

  }


  #board .ManzanaClass{
    display: block; 
    position: absolute; 
    background-image:  url('/manzana.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160%;
    transition: background-image 0.3s;
    aspect-ratio: 1 / 1;
  }

  .Menu{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 80vh;
    aspect-ratio: 1/1;
    place-items: center;
  }

  .MenuButtoms{
    width: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .MenuButtoms a {
    text-decoration: none;
    color: inherit;
  }

  .MenuButtoms a:hover,
  .MenuButtoms a:focus,
  .MenuButtoms a:active {
    text-decoration: none;
    color: inherit;
  }
 

  .ModeMenuButton {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    align-self: center;
    background-color: #EDE8D0;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 23px;
    outline: none;
    padding: clamp(0.5rem, 2vw, 0.75rem);
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    gap: 5%;

  }
  
  .ModeMenuButton:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .ModeMenuButton:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  
  

  .iconButtonMenu {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s;
  }

  


  #SingleButton{
    background-image: url('/serpiente_static.png');
  }

  .ModeMenuButton:hover  #SingleButton{
    background-image: url('/serpiente.gif');
  }

  #LocalButton{
    background-image: url('/serpiente_Local_static.png');
  }

  .ModeMenuButton:hover #LocalButton{
    background-image: url('/serpiente_Local.gif');
  }

  #MultiButton{
    background-image: url('/serpiente_Multi_static.png');
  }

  .ModeMenuButton:hover    #MultiButton{
    background-image: url('/serpiente_Multi.gif');
  }

  .atribucion {
    font-size: 6px;
    color: #555;      
    opacity: 0.4;      
    text-align: center; 
    margin-top: 20px;   
  }
  


  .contenedor {
    width: 50vmin; 
    aspect-ratio: 2/1; 
    border: 5px solid #202829; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #D9D7B6; 
    text-align: center; 
    padding: 20px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .botonesFinales {
    display: flex;
    gap: 10%;              
  }

  .botonFinal {
    align-items: center;
    appearance: none;
    background-color: #EDE8D0;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#C9C5B1 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 100%;
  }

  .botonFinal:focus {
    box-shadow: #C9C5B1 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #C9C5B1 0 -3px 0 inset;
  }
  
  .botonFinal:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #C9C5B1 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .botonFinal:active {
    box-shadow: #C9C5B1 0 3px 7px inset;
    transform: translateY(2px);
  }

  .resultado {
    font-size: 200%;
    font-weight: bold;
    color: #333;
  }

